.trk-tracker {
	width: 100%;
	height: 100px;
	background-color: white;
	color: black;
	box-sizing: border-box;
}

.trk-tracker-wrapper {
	margin: 1px;
}

.trk-tracker-topBar {
	display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    height: 20px;
}
