.trk-main-wrapper {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.trk-screen-wrapper {
	position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.trk-main-body {
	display: flex;
    flex-direction: column;
}

.trk-main-trackers {
	overflow: scroll;
}

.trk-main-bottom-bar {
	border-top: 1px solid;
	height: 60px;
    padding: 5px;
}