.trk-screen-tracker-wrapper {

}

.trk-screen-tracker-body {
	position: fixed;
    left: 10px;
    top: 90px;
    right: 10px;
    bottom: 10px;
}

.trk-tracker-portrait-details {
    display: flex;
    flex-direction: column;
}

.trk-tracker-portrait-chart-options {
    display: flex;
    flex-direction: column;
    margin: 15px 25px 0 25px;
}

.trk-tracker-chart-range-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 8px;
}

.trk-tracker-portrait-details-row {
    display: flex;
    flex-direction: row;
}

.trk-tracker-portrait-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.trk-tracker-portrait-details-item {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.trk-tracker-portrait-details-item-value {
    padding: 15px;
    border: 1px solid;
    margin-top: 5px;
    border-radius: 3px;
    background: rgba(0,0,0,.2);
}