.trk-screen-tracker-wrapper {

}

.trk-screen-tracker-body {
	position: fixed;
    left: 10px;
    top: 90px;
    right: 10px;
    bottom: 10px;
}

.trk-tracker-portrait-details {
    display: flex;
    flex-direction: column;
}

.trk-tracker-portrait-chart-options {
    display: flex;
}

.trk-tracker-portrait-chart-options input {
    border: none;
    background-color: transparent;
    font-weight: bolder;
    padding: 5px;
    color: white;
    display: block;
    visibility: visible;
    text-decoration: underline;
}

.trk-tracker-portrait-details-row {
    display: flex;
    flex-direction: row;
}

.trk-tracker-portrait-details-item {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.trk-tracker-portrait-details-item-value {
    padding: 15px;
    border: 1px solid;
    margin-top: 5px;
    border-radius: 0 40px 0 40px;
    background: rgba(0,0,0,.2);
}