.trk-add-collection-panel-wrapper {
	position: fixed;
    top: -1000px;
	left: 0px;
	height: 100%;
	width: 100%;
	max-height: 1000px;
	background: rgba(0, 0, 0, .75);
	z-index: 2;
	transition: top .2s;
	padding: 25px;
	box-sizing: border-box;
}

.trk-add-collection-panel-wrapper.open {
	top: 0px;
}
