.trk-app-wrapper {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: rgb(162, 64, 64);
	color: white;
	overflow: hidden;
}

a {
	color: white;
	cursor: pointer;
}

.trk-button {
	border: none;
	background-color: transparent;
	font-weight: bolder;
}

.trk-form {
	display: flex;
	flex-direction: column;
	pointer-events: all;
	height: 300px;
    justify-content: space-between;
}

.trk-form span {
	display: flex;
	flex-direction: column;
}

.trk-form-button {
	color: white;
    background-color: steelblue;
    border: none;
    padding: 10px;
    margin-top: 25px;
	box-sizing: border-box;
	text-align: center;
}

.trk-form-label {

}

.trk-form-text {
	background-color: white;
	padding: 15px;
	font-size: large;
	width: 100%;
	box-sizing: border-box;
}